$danger_color: #7b1fa2;
$text-large-size: 32px;
$primary-color: red;
$size: 16;
// 16 * 2px 32px(type string)
$text_size: $size * 2px;
// 16 + px = 16px(type string)
$text_size_string: $size + px;
// 16px / 1px = 16(type number)
$text_size_number: $text_size_string / 1px;

$color: #e6e6e6;
// lighten: sáng lên
$light_color: lighten($color, 15%);
// darken: tối đi
$dark_color: darken($color, 15%);

.panel-danger .panel-body {
    h3 {
        color: $danger_color;
    }

    p {
        $yellow-color: yellow !global;
        background: $danger_color;
        
        a {
            font-size: $text-large-size;
            color: $yellow-color;
            text-decoration: none;
            cursor: wait;
        }
    }

    span {
        border: 2px solid $danger_color;
        // không gọi được vì $yellow_color là biến toàn cục trong thể  b phải thêm thuộc tính !global
        color: $yellow-color;
    }
}

.panel-primary .panel-body {
    h1 {
        color: $primary-color;
    }

    p {
        font-size: $text-size;
    }
}