.container {
    .child {
        a {
            color: red;
            font-size: 32px;
            font-weight: bold;
        }
    }

    p {
        color: #e6e6e6;
        border-bottom: 1px dashed yellow;
    }

    p.content {
        color: greenyellow;
        padding: 5px 10px;
        border: {
            top: 3px solid red;
            right: 3px solid yellow;
            bottom: 3px solid green;
            left: 3px solid orange;
        };
        font: {
            size: 16px;
            weight: bold;
        }
    }
}