// mixin nhu 1 khung
@mixin box ($width, $height, $line_height, $background, $border_radius, $circle) {
    width: $width;
    height: $height;
    line-height: $line_height;
    background: $background;
    @if $circle == true {
        border-radius: $border_radius;
    }
    @else {
        border-radius: 0;
    }
}

// placeholder
%box {
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: #e6e6e6;
    border-radius: 3px;
}

.container {
    .box1 {
        @include box(200px, 200px, 200px, #e6e6e6, 50%, true);

        &-text {
            text-align: center;
            font: {
                size: 32px;
                weight: bold;
                family: 'arial';
            }
        }
    }

    .box2 {
        @extend %box;

        &-text {
            text-align: center;
            font: {
                size: 32px;
                weight: bold;
                family: 'arial';
            }
        }
    }

    .box3 {
        @extend .box1;

        @extend .box1-text;
    }

    $sizes: 20, 50, 100;
    @each $size in $sizes {
        .nav-#{$size} {
            width: $size * 5px;
            background: blueviolet;
            margin-top: 10px;
            border-radius: 10px;
            text-align: center;
            color: white;
        }
    }
}